@using CadentManagement.Authorization
@using CadentManagement.Web.Areas.App.Startup

@{
    ViewBag.CurrentPageName = AppPageNames.Tenant.TasksStatusBoard;
}

@section Styles
{
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/Shared/AppWorkspace.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/Tasks/Index.css" asp-append-version="true" />
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script src="/view-resources/Areas/App/Views/Tasks/Index.js" asp-append-version="true"></script>
}

<abp-page-subheader title="@L("ToDoStatusBoard")" description="@L("ToDosDescription")">
    <button id="AddTaskButton" class="btn btn-primary" abp-authorize="@AppPermissions.Pages_Tasks_Create">
        <i class="fa fa-plus btn-md-icon"></i>
        <span class="d-none d-md-inline-block">@L("AddNewToDo")</span>
    </button>
</abp-page-subheader>

<div class="@(await GetContainerClass()) time-workspace">
    <div class="card app-workspace-card app-workspace-page">
        <div class="card-body p-0 app-board-body">
            <div class="p-4 border-bottom">
                <div class="row g-3 align-items-end">
                    <div class="col-12 col-md-5 col-lg-4">
                        <label for="KanbanProjectFilter" class="form-label mb-1">@L("FilterByProject")</label>
                        <select id="KanbanProjectFilter" class="form-select">
                            <option value="">@L("All")</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <label for="KanbanSearchFilter" class="form-label mb-1">@L("Search")</label>
                        <input id="KanbanSearchFilter"
                               type="text"
                               class="form-control"
                               placeholder="@L("SearchWithThreeDot")" />
                    </div>
                    <div class="col-12 col-md-3 col-lg-4">
                        <div class="form-check pt-md-4">
                            <input class="form-check-input" type="checkbox" id="KanbanShowCompletedToggle" />
                            <label class="form-check-label" for="KanbanShowCompletedToggle">@L("ShowDoneItems")</label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="KanbanBoard" class="kanban-board"></div>
        </div>
    </div>
</div>

<div id="createOrEditTaskModalContainer"></div>
