@using CadentManagement.Authorization
@using CadentManagement.Web.Areas.App.Startup
@{
    ViewBag.CurrentPageName = AppPageNames.Tenant.TimeTracking;
}

@section Styles
{
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/TimeTracking/Index.css" asp-append-version="true" />
}

@section Scripts
{
    <script src="/view-resources/Areas/App/Views/TimeTracking/Index.js" asp-append-version="true"></script>
}

<abp-page-subheader title="@L("TimeTracking")" description="@L("TimeTrackingDashboard")">
    @if (IsGranted(AppPermissions.Pages_TimeTracking_Projects_Create))
    {
        <button id="CreateNewProjectButton" class="btn btn-primary">
            <i class="fa fa-plus btn-md-icon"></i>
            <span class="d-none d-md-inline-block">@L("AddNewProject")</span>
        </button>
    }
</abp-page-subheader>

<div class="@(await GetContainerClass())">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <div class="input-group">
                    <input type="text" id="ProjectFilterText" class="form-control" placeholder="@L("SearchWithThreeDot")" />
                    <select id="ProjectStatusFilter" class="form-select" style="max-width:160px;">
                        <option value="">@L("All")</option>
                        <option value="1">@L("ActiveStatus")</option>
                        <option value="2">@L("ArchivedStatus")</option>
                        <option value="3">@L("CompletedStatus")</option>
                    </select>
                    <button id="GetProjectsButton" class="btn btn-light-primary">
                        <i class="ki-outline ki-magnifier fs-2"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="ProjectsContainer" class="row g-6 mb-6">
                <!-- Project cards rendered by JS -->
            </div>
        </div>
    </div>
</div>
